
{{#each latestCourses}}
<div class="last-course">
    <div class="info">
        <h2 class="title">{{title}}</h2>
        <h4 class="type">{{type}}</h4>
        <h4 class="certificate">Certificate: {{certificate}}</h4>
        <h4 class="price">Price: €{{price}}</h4>
        <div class="learn-more">
            <a href="/{{_id}}/details">Learn More...</a>
        </div>
    </div>
</div>
{{else}}
</div>

<!-- If there are still no course posts on the database -->
<article class="not-available-course">
    <h1>No course created yet.</h1>
</article>
</div>
{{/each}}

<!--- {{#if latestCourses}}
<div>
   {{#each latestCourses}}
</div>
    {{/each}}
{{else}}
    <article class="not-available-course">
        <h1>No course created yet.</h1>
    </article>
 {{/if}}  -->